/* src/app/components/form-iput/form-iput.component.css */


.custom-input {
  border: 1px solid rgb(0, 255, 191);;
  background-color: rgb(41, 41, 41); /* Cor de fundo do input */
  transition: opacity 0.3s, box-shadow 0.3s;
  color: white;
  /* ... outras propriedades de estilo ... */
}

.custom-input.active {
  opacity: 0.9;
  color: black;
}

.custom-input::placeholder {
  color: rgb(0, 255, 191); /* Cor do placeholder */
  opacity: 2;
}

/* Adicione a cor branca para o texto quando não estiver ativo e houver texto */
.custom-input.white-text {
  color: white;
}

.inputWidth {
  height: 35px;
  width: 165px;
}

.form-control.ng-invalid.ng-touched {
  border-radius: 5px;
  box-shadow: inset 0 0 0em red, 0 0 5px red;
}

.form-control.ng-valid.ng-touched {
  border-radius: 5px;
  box-shadow: inset 0 0 0em rgb(0, 202, 91), 0 0 5px rgb(0, 202, 91);
}
